### APP ###
PORT=4000

### DB ###
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=12345
DB_NAME=crm_db_dev
DB_PORT=5432
DATABASE_URL="postgresql://postgres:12345@localhost:5432/crm_db_dev?schema=public"


AUTH_SECRET=c39ede1ea2121c488a9fb330cff7696902560e86a8d174bf5ad4ca272dddfff4

NEXTAUTH_URL=http://localhost:3000